[user]
	name = Sebastian Heil
	email = "(none)"
[core]                                                                                                                                                                                                                                     
    excludesfile = /home/sheil/.gitignore_global  
[push]
	default = current
