[user]
	name = Sebastian Heil
	email = mail+git@sebastianheil.de
[core]                                                                                                                                                                                                                                     
    excludesfile = /home/sheil/.gitignore_global  
[push]
	default = current
