/emacs/.emacs.d/*backup*
/emacs/.emacs.d/*session*
/emacs/.emacs.d/cache
/emacs/.emacs.d/auto-save-list
/emacs/.emacs.d/tutorial
/emacs/.emacs.d/elpa
/emacs/.emacs.d/.mc-lists.el
/emacs/.emacs.d/config/init-custom.el
/tmux/.tmux-windows.conf
