# show multiple bash completions already with first TAB
set show-all-if-ambiguous on
set show-all-if-unmodified on

# ignore case-sensitivity
set completion-ignore-case on

# bash history completion to complete what's already on the line
# page up
"\e[5~": history-search-backward
# page down
"\e[6~": history-search-forward

# repair Ctrl+left/right since using history-search seems to break them
# Ctrl + arrow left
"\e[1;5D": backward-word
# Ctrl + arrow right
"\e[1;5C": forward-word

# replace audio beep with visuible bell
set prefer-visible-bell on
